# Default owners
* @TODO_SUPERIEUR

# ML Models
/src/models/ @TODO_SUPERIEUR

# Inference
/src/edc_inference/ @TODO_SUPERIEUR

# Documentation
/docs/ @TODO_SUPERIEUR

# CI/CD
/.github/workflows/ @TODO_SUPERIEUR
