# Propietarios predeterminados
* @TODO_SUPERIEUR

# Modelos ML
/src/models/ @TODO_SUPERIEUR

# Inference
/src/edc_inference/ @TODO_SUPERIEUR

# Documentación
/docs/ @TODO_SUPERIEUR

# CI/CD
/.github/workflows/ @TODO_SUPERIEUR
